* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Song Myung', serif;

}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 200px;
}

/* 상단 메뉴바 */
#navbar {
    position: fixed;
    width: 100%;
    margin: 0;
    box-shadow: 0px 1px 3px rgb(207, 207, 207);
    background-color: white;
}

#navbar:after {
    clear: both;
    display: block;
    content: ''
}

.nav-item {
    float: left;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.1rem;
}

/* 간단 페이지 소개 */
#welcome {
    display: block;
    height: 550px;
    padding-top: 200px;
}

.welcome-item {
    text-align: center;
}

.welcome-item.eng {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 4rem;
}

.welcome-item.kor {
    font-size: 1.7rem;
    color: rgb(95, 95, 95);
}

/* 자기소개 파트 */
#main {

}

.who-title {
    padding: 10px 50px;
    font-weight: bold;
    font-size: 1.4rem;
}

.who-box {

}

.box-title {

}

.box-content {

}

/* 자기소개 1: 과거편 */
.who-was {
    background-color: rgb(255, 231, 231);
}

.who-was .who-title {
    color: rgb(216, 139, 139);
    background-color: white;
}