* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Song Myung', serif;
    /*border: 1px solid green;*/
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 200px;
    float: left;
}

/* 상단 메뉴바 */
#navbar {
    position: fixed;
    width: 100%;
    margin: 0;
    box-shadow: 0px 1px 3px rgb(207, 207, 207);
    background-color: white;
}

#navbar:after {
    clear: both;
    display: block;
    content: ''
}

.nav-item {
    float: left;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.1rem;
}

/* 간단 페이지 소개 */
#welcome {
    display: block;
    height: 550px;
    min-width: 640px;
    padding-top: 200px;
}

.welcome-item {
    text-align: center;
}

.welcome-item.eng {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 4rem;
}

.welcome-item.kor {
    font-size: 1.7rem;
    color: rgb(95, 95, 95);
}

/* 자기소개 파트 */
#main {

}

.who-title {
    padding: 30px 50px 10px;
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
    text-align: center;
}

.who-main {
    padding: 20px 70px;
    min-width: 820px;
}

.who-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    padding-top: 15px;
    padding-bottom: 15px; //자동으로 상하 가운데정렬 시키는 방법 없을까?
}

.box {
    padding: 10px 20px;
}

.box.title {
    width: 230px;
    font-weight: bold;
    font-size: 1.5rem;
}

.box.content {
    width: 770px;
    font-size: 1.2rem;
}

/* 자기소개 1: 과거편 */
.who-main.was {
    background-color: rgb(255, 242, 242);
}


/* 자기소개 2: 현재편 */
.who-main.am {
    background-color: rgb(241, 241, 241);  
}


/* 자기소개 3: 미래편 */
.who-main.will {
    background-color: rgb(253, 249, 255);
}

/* 하단 Footer */
#footer {
    padding: 20px;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(95, 95, 95);
}